######################################################
#                                                    #
#      Configuration file for GhostMap               #
#                                                    #
######################################################

[Devices]
DEVICE_1: ATV01;192.168.0.101
DEVICE_2: ATV02;192.168.0.102
DEVICE_3: ATV03;192.168.0.103